# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### Ignore OpenAPI temporary outputs ###
openapi/server
openapi/jmeter

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/bin/
**/bin/**
**/.project
**/.classpath

.DS_Store

